/*========= GOOGLE FONTS =========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*========= VARIABLES CSS =========*/
::root{
/*========= colores =========*/
--first-color:#1A73E8;
--input-color: #80868B;
--border-color: #DADCE0;

/*========= colores =========*/
--body-font: 'Roboto', sans-serif;
--normal-font-size: 1rem;
--small-font-sieze: .75rem;

}


